APP_API_BASE_URL=http://localhost:8000

APP_GOOGLE_AUTH_IOS_CLIENT_ID=317129977453-j7p8qeb45m82scgdkl9n89ah50r6e7ld.apps.googleusercontent.com
APP_GOOGLE_AUTH_IOS_CLIENT_ID_REVERSE=com.googleusercontent.apps.317129977453-j7p8qeb45m82scgdkl9n89ah50r6e7ld

APP_GOOGLE_AUTH_ANDROID_DEBUG_CLIENT_ID=317129977453-vnlut11rvvre2vn1obqe36rm0klldrtj.apps.googleusercontent.com
APP_GOOGLE_AUTH_ANDROID_RELEASE_CLIENT_ID=

APP_GOOGLE_AUTH_WEB_CLIENT_ID=317129977453-00pgfviff0p554fv5bcqm7vat35muv72.apps.googleusercontent.com

APP_APPLE_AUTH_CLIENT_ID=
APP_APPLE_AUTH_REDIRECT_URI=

APP_PRIMARY_COLOR='#0000CD'
APP_SECONDARY_COLOR='#009ee3'
APP_ACCENT_COLOR='#f5f5f5'